<?xml version="1.0"?>
<config>
    <modules>
        <SM_XPosAPI>
            <version>0.1.0</version>
        </SM_XPosAPI>
    </modules>
    <global>
        <models>
            <xposapi>
                <class>SM_XPosAPI_Model</class>
                <resourceModel>xposapi_resource</resourceModel>
            </xposapi>
            <xposapi_resource>
                <class>SM_XPosAPI_Model_Resource</class>
            </xposapi_resource>
        </models>
        <blocks>
            <xposapi>
                <class>SM_XPosAPI_Block</class>
            </xposapi>
        </blocks>
        <helpers>
            <xposapi>
                <class>SM_XPosAPI_Helper</class>
            </xposapi>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <discount>
                        <class>xposapi/discount</class>
                        <after>tax</after>
                    </discount>
                    <grand_total>
                        <class>xposapi/grand</class>
                        <after>grand_total</after>
                    </grand_total>
                </totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <routers>
            <xposapi>
                <use>standard</use>
                <args>
                    <module>SM_XPosAPI</module>
                    <frontName>xposrest</frontName>
                </args>
            </xposapi>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <xposapi_category>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>xposapi/observer::generateCategories</model>
                </run>
            </xposapi_category>
            <xposapi_product>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>xposapi/observer::generateProducts</model>
                </run>
            </xposapi_product>
            <xposapi_customer>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>xposapi/observer::generateCustomers</model>
                </run>
            </xposapi_customer>
        </jobs>
    </crontab>
</config>